%card-style{
    background: lightgray;
    border: 1px solid white;
    border-radius: 1.25em;
    padding: 1.5em;
}

#Card{
    @extend %card-style;
    font-size:  #{"min(2.25vw, 1.35em)"};
    @media screen and (max-width: 800px) {
        max-width: 80%;
        margin-bottom: 3em;
    }
    max-width: 50%;
    div{
        padding-bottom: .5em;

        &:first-child{
            text-align: center;
        }

        img{
            border: 1px solid black;
        }
    }
    svg{
        vertical-align: middle;
        margin-right: .4em;
    }
}

#loader{
    @extend %card-style;
    min-width: 50%;
    max-width: 50%;
    
    > div{ 
        margin: 10em auto;
    }
}